<h1>Thêm Mới</h1>
<form action="/add" method="post">
    <table border="1">
        <tr>
            <th>LABLE</th>
            <th>VALUE</th>
        </tr>
        <tr>
            <td>Role:</td>
            <td><input type="text" name="Role"></td>
        </tr>
        <tr>
            <td>OpenHour:</td>
            <td><input type="text" name="OpenHour"></td>
        </tr>
        <tr>
            <td>DefaultAccount:</td>
            <td><input type="text" name="DefaultAccount"></td>
        </tr>
        <tr>
            <td>TokenLogin:</td>
            <td><input type="text" name="TokenLogin"></td>
        </tr>
        <tr>
            <td>DeviceID:</td>
            <td><input type="text" name="DeviceID"></td>
        </tr>
        <td>FcmTokens:</td>
        <td><input type="text" name="FcmTokens"></td>
    </tr>

    </table>


    

    <button type="submit">Thêm</button>
</form>